* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /*font*/
    font-family: "Quintessential", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.8rem; /* 16px */
    color: #ffffff;

    /*background*/
    background-image: url("./img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    /*padding*/
    padding: 1.5rem;
}

h1{
  text-align: center;
}

.board-main-div {
  width: 100%;
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border: 3px solid white;
  border-radius: 7px;

  padding: 0.2rem;

  gap: 0.5rem;
  box-sizing: border-box;
}

.board-square {
  aspect-ratio: 1 / 1;
  border: 3px solid white;
  border-radius: 7px;
  display: flex;
  align-items: center; 
  justify-content: center;
}